<h1><%- title %></h1>

<%- messages() %>

<h2 id="account-welcome">Welcome <%= locals.account_firstname %></h2>

<div class="management-container">
    <h3>Account Management</h3>
    <a class="management-button" href="/account/update/<%= locals.accountData.account_id %>">Update Account Information</a>

    <!-- Message Link -->
    <a class="management-button" href="/messages">My Messages</a>

    <!-- Not showing for "Basic" account type -->
    <% if (locals.account_type === 'Employee' || locals.account_type === 'Admin') { %>

        <div id="inv-management-txt">
            <h3>Inventory Management</h3>
            <a class="management-button" href="/inv/">Manage Inventory</a>
        </div>

    <% } %>
</div>