<nav>
    <ul>
        <li><a href="#" id="home_nav">Home</a></li>
        <li><a href="#" id="home_nav">Custom</a></li>
        <li><a href="#" id="home_nav">Sedan</a></li>
        <li><a href="#" id="home_nav">SUV</a></li>
        <li><a href="#" id="home_nav">Truck</a></li>
    </ul>
</nav>