<h1>Welcome to CSE Motors</h1>
<%- messages() %>
    <div id="hero-image-section">
        <div class="hero">
            <img src="/images/vehicles/delorean.jpg" alt="DMC Delorean car from Back to the Future">

            <!-- Overlay - NOT A MODAL - Some people were saying it was a modal -->
            <div class="hero-overlay">
                <h2>DMC Delorean</h2>
                <ul>
                    <li>3 Cup holders</li>
                    <li>Superman doors</li>
                    <li>Fuzzy dice!</li>
                </ul>
                <a href="#" class="cta-button">Own Today</a>
                <!-- <a href="#"><img src="/images/site/own_today.png" alt="Own Today Button"></a> -- BUTTON IS HARDER TO STYLE AS AN IMAGE - JUST MAKING MY OWN-->
            </div>
        </div>
    </div>

    <div id="information">
        <section class="info-section">
            <div id="info-left">
                <h2>Delorean Upgrades</h2>
                <section id="upgrade-grid">
                    <div class="upgrade-option">
                        <div class="upgrade-image-container">
                            <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor" loading="lazy">
                        </div>
                        <a href="#" class="upgrade-link">Flux Capacitor</a>
                    </div>
                    <div class="upgrade-option">
                        <div class="upgrade-image-container">
                            <img src="/images/upgrades/flame.jpg" alt="Flame Decals" loading="lazy">
                        </div>
                        <a href="#" class="upgrade-link">Flame Decals</a>
                    </div>
                    <div class="upgrade-option">
                        <div class="upgrade-image-container">
                            <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers" loading="lazy">
                        </div>
                        <a href="#" class="upgrade-link">Bumper Stickers</a>
                    </div>
                    <div class="upgrade-option">
                        <div class="upgrade-image-container">
                            <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps" loading="lazy">
                        </div>
                        <a href="#" class="upgrade-link">Hub Caps</a>
                    </div>
                </section>
            </div>
            <div id="info-right">
                <h2>DMC Delorean Reviews</h2>
                <section id="reviews">
                    <ul>
                        <li>"So fast it's almost like traveling in time." (4/5)</li>
                        <li>"Coolest ride on the road." (4/5)</li>
                        <li>"I'm feeling McFly!" (5/5)</li>
                        <li>"The most futuristic ride of our day." (4.5/5)</li>
                        <li>"80's livin and I love it!" (5/5)</li>
                    </ul>
                </section>
            </div>
        </section>
    </div>