<h1>Welcome to CSE Motors</h1>
<div id="hero-image-section">
    </section>
    <div id="information">
        <section class="info-section">
            <div id="info-left">
                <h2>Delorean Upgrades</h2>
                <section id="upgrade-grid">
                    <div class="upgrade-option">
                        <img src="images/upgrades/flux-cap.png">
                        <a href="#" class="upgrade-link">Flux Capacitor</a>
                    </div>
                    <div class="upgrade-option">
                        <img src="images/upgrades/flame.jpg">
                        <a href="#" class="upgrade-link">Flame Decals</a>
                    </div>
                    <div class="upgrade-option">
                        <img src="images/upgrades/bumper_sticker.jpg">
                        <a href="#" class="upgrade-link">Bumper Stickers</a>
                    </div>
                    <div class="upgrade-option">
                        <img src="images/upgrades/hub-cap.jpg">
                        <a href="#" class="upgrade-link">Hub Caps</a>
                    </div>
                </section>
            </div>
            <div id="info-right">
                <h2>DMC Delorean Reviews</h2>
                <section id="reviews">
                    <ul>
                        <li>"So fast it's almost like traveling in time." (4/5)</li>
                        <li>"Coolest ride on the road." (4/5)</li>
                        <li>"I'm feeling McFly!." (5/5)</li>
                        <li>"The most futuristic ride of our day." (4.5/5)</li>
                        <li>"80's living and I love it!." (5/5)</li>
                    </ul>
                </section>
            </div>
        </section>
    </div>
</div>