<h1><%- title %></h1>

<%- messages() %>

<div class="management-links-container">
    <p>Please choose an option below:</p>
    <ul>
        <li><a href="/inv/add-classification" title="Add a new vehicle classification">Add New Classification</a></li>
        <li><a href="/inv/add-inventory" title="Add a new vehicle to inventory">Add New Inventory Item</a></li>
    </ul>
</div>